<% require_relative '../youtubeSearch' %>



<head>
<title>VideoShare</title>
</head>
<body>
 <form >
  Search Video <br>
  <input type = "text" name = "SearchVideo" ><br>
  
  <input type = "submit" value = "Search">
</form> 
</body>
